*{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding-top: 12px;
}
header{
    background-color: aquamarine;
}
img{
    height: 200px;
}
#image_container{
    height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box_container{
    border: 2px solid black;
    height: 300px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
}
#box2{
    flex-shrink: 2;
    flex-grow: 2;
}
#box4{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: green;
}
@media screen and (min-width:300px) and (max-width:400px) {
    #box4{
        background-color: red;
    }
}
@media screen and (min-width:400px){
    #box4{
        background-color: blue;
    }
}